---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>AWS Cloud Platform</li>
        <li>Python</li>
        <li>Typescript</li>
        <li>Kubernetes</li>
        <li>Helm</li>
        <li>Flux</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      In addition to these, I have extensive experience with Machine Learning Operations (MLOps),
      where I focus on streamlining the entire machine learning lifecycle from model development to deployment. 
      I'm also well-versed in serverless technologies, enabling me to design scalable and cost-effective cloud-native applications.
    </p>
    <p class="text-sm font-light">
      While I have a set of go-to tools, I always prioritize choosing the most suitable one for the task,
      even if it's outside my usual repertoire. My aim is to deliver the best possible solution for each project.
    </p>
  </div>
</Card>
