---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="Recent Video Recommendation" href="https://www.youtube.com/watch?v=H_4Uu6rMO5o">
  <p class="text-xs">Get insights into one of the projects I’ve worked on, featuring MLOps, and serverless technologies!</p>
</Card>
