---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <p class="text-xs">Get insights into one of the projects I’ve worked on, featuring MLOps, and serverless technologies!</p>
</Card>
